/*reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1rem = 1em = 10px*/
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

button, input {
    outline: none;
    border: none;
    overflow: visible;
    box-shadow: none;
    background-color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

.center {
    justify-content: space-around;
    align-items: center;
}

.height {
    height: 70px;
}

.active {
    display: block;
}

.none {
    display: none;
}

.size_icon {
    font-size: 2rem;
}

.cursor {
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(253, 245, 249);
    height: 70px;
    width: 100%;
}

.logo_img {
    height: 70px;
    width: auto;
}

.header_menu {
    width: 60%;
    height: 70px;
}

.header_menu-list {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 700;
}

.header_product-text {
    position: relative;
}

.pst {
    position: relative;
}

.product_list {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
}

.product_list-img {
    margin-top: 50px;
    margin-left: 10px;
    width: 12.5%;
    height: 280px;
}

.product_list-ao {
    margin-top: 50px;
    margin-left: 70px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3.6rem;
}

.product_list-h {
    margin-bottom: 12px;
    font-size: 1.5rem;
}

.accessory_list {
    position: absolute;
    top: 69px;
    left: -10px;
    width: 180px;
    height: 360px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 26px 16px;
    line-height: 4rem;
    font-size: 1.8rem;
    box-shadow: 0px 8px 20px 2px rgb(206, 206, 206);
    display: none;
}

.header_accessory_wrap:hover .accessory_list{
    display: block;
}

.header_accessory_wrap:hover .header_accessory-text {
    color: rgb(254, 107, 139);
}

.gallery {
    padding: 0 45% 0 15%;
    display: none;
}

.mlf {
    margin-left: 40px;
}

.header_gallery_wrap:hover .gallery {
    display: flex;
}

.header_gallery_wrap:hover .header_Gallery-text {
    color: rgb(254, 107, 139);
}

.header_3d-text:hover {
    color: rgb(254, 107, 139);
}

.header_outlet-text {
    color: rgb(254, 107, 139);
}

.header_search {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70px;
    z-index: 100;
}

.header_search_ip {
    border: 1px solid rgb(206, 206, 206);
    margin-top: 12px;
    margin-left: -8%;
    width: 50%;
    height: 100%;
    padding: 10px;
    border-radius: 40px;
}

.brc {
    background-color: rgb(253, 245, 249);
}

.search_close {
    padding: 8px 10px;
    position: absolute;
    top: 4px;
    right: 24%;
    font-size: 4rem;
}

.search {
    width: 16%;
    height: 32px;
    border-radius: 20px;
    border: 1px solid #ced4da;
}

.header_search-input {
    margin: 0 6px 0 14px;
    font-size: 1.6rem;
    width: 70%;
    height: 100%;
}

.header_search_ip-icon {
    margin-left: 40%;
}

.header_btn {
    width: 15%;
    height: 100%;
    cursor: pointer;
    border-radius: 20px;
}

#product {
    display: none;
}

.header_product_wrap:hover .header_product-text {
    color: rgb(254, 107, 139);
}

.header_product_wrap:hover #product {
    display: block;
}

.header_log {
    position: absolute;
    top: 69px;
    right: 5px;
    width: 10%;
    height: 120px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 26px 16px;
    line-height: 3.5rem;
    font-size: 1.8rem;
    box-shadow: 0px 8px 20px 2px rgb(206, 206, 206);
    display: none;
}

.header_log::after {
    content: "";
    position: absolute;
    top: -28px;
    right: 10px;
    width: 80px;
    height: 50px;
}

.header_user:hover .header_log {
    display: block;
}

.log {
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0;
    width: 30%;
    box-shadow: 0 0 5px 3px rgb(254, 107, 139);
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
}

.log_in {
    z-index: 101;
}

.sign_up {
    z-index: 102;
}

.logo_in-text {
    text-align: center;
    font-size: 2.8rem;
    margin: 40px 0 60px;
}

.log_in-us {
    width: 70%;
    margin: 30px 15% 10px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 30px;
    box-shadow: 0 0 5px 3px rgb(254, 107, 139);
    overflow: hidden;
}

.log_user {
    width: 80%;
    height: 30px;
    font-size: 2rem;
    padding: 5px 15px;
}

.log_in-sumit {
    height: 30px;
    margin-top: 70px;
    background-color: rgb(254, 107, 139);
    text-align: center;
    border: none;
}

.to_sign_up-text {
    text-align: center;
    font-size: 1.6rem;
    text-decoration: underline;
    margin-top: 40px;
}

.log_close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(129, 128, 128);
}

.btn_sumit{
    padding: 4px;
    background-color: rgb(254, 107, 139);
    color: white;
    font-size: 2rem;
}

.banner {
    margin-top: 70px;
    width: 100%;
    height: 1000px;
    position: relative;
    display: flex;
}

.banner_next {
    position: absolute;
    top: 50%;
}

.banner_img {
    width: 100%;
}

.imgb {
    width: 12.5%;
}
